<main class="page acerca-container">

  <h1 class="page-title">Sobre Nosotros</h1>
  <p class="page-subtitle">
    Cuidando de tu salud con dedicación y calidad humana.
  </p>

  <section class="card historia">
    <h2>Nuestra Historia</h2>
    <p>
      CliniGest nació como una clínica pequeña pero con un gran propósito:
      ofrecer atención médica accesible, confiable y cercana a las familias
      de nuestra comunidad. Contamos con un equipo de profesionales
      comprometidos con tu bienestar y una atención personalizada que
      marca la diferencia. Atte: Kerry Copito
    </p>
  </section>

  <section class="mision-vision">
    <div class="card mv-box">
      <h3>Misión</h3>
      <p>
        Brindar servicios médicos de calidad enfocados en mejorar la salud
        y calidad de vida de nuestros pacientes mediante atención integral
        y humana.
      </p>
    </div>

    <div class="card mv-box">
      <h3>Visión</h3>
      <p>
        Ser reconocidos como la clínica de preferencia en la zona, destacándonos
        por excelencia médica, ética profesional y trato cercano.
      </p>
    </div>
  </section>

  <section class="card valores">
    <h2>Valores</h2>
    <ul>
      <li>Compromiso</li>
      <li>Calidez humana</li>
      <li>Responsabilidad</li>
      <li>Profesionalismo</li>
      <li>Confianza</li>
    </ul>
  </section>

    <section class="imagen-acerca">
  <img src="https://plus.unsplash.com/premium_photo-1681843126728-04eab730febe?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
     alt="Doctores" class="img-acerca">
</section>


</main>
