<main class="page">
  <h1>Contacto</h1>

  <form id="contactForm" class="form">
    <input type="text" placeholder="Nombre" required />
    <input type="email" placeholder="Correo" required />
    <textarea placeholder="Mensaje" required></textarea>
    <button type="submit" class="btn">Enviar</button>
  </form>

  <section class="map">
    <iframe 
      src="https://maps.google.com/maps?q=tegucigalpa&t=&z=13&ie=UTF8&iwloc=&output=embed">
    </iframe>
  </section>
</main>