<main class="home">

  <!-- Sección Hero -->
  <section class="hero">
    <h1>Bienvenido a CliniGest</h1>
    <p>Tu salud es nuestra prioridad.</p>
    <a href="/visita.html" class="btn">Planifica tu Visita</a>
  </section>

</main>
