name: VITE MPA - Deploy a Github Pages

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    environment:
      name: github-pages
    runs-on: ubuntu-latest

    steps:
      - name: Clonar repositorio
        uses: actions/checkout@v4

      - name: Instalar Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Instalar dependencias
        run: npm install

      - name: Generar build
        run: npm run build

      - name: Configurar Github Pages
        uses: actions/configure-pages@v5

      - name: Subir sitio compilado
        uses: actions/upload-pages-artifact@v3
        with:
          path: "./dist"

      - name: Deploy final
        uses: actions/deploy-pages@v4